<div class="container">
	<div class="row">
		<div class="col-md-12 text-center">
			<h3 class="text-theme-primary">Add New Post</h3>
			<p class="mb-5">You can add new post here</p>
		</div>
	</div>
	<form [formGroup]="postForm">
		<div class="row">
			<div class="col-md-7">
				<div class="card shadow-effect">
					<div class="card-body">
						<div class="form-group">
							<label>Title</label>
							<input
								type="text"
								class="form-control"
								(keyup)="onTitleChanged($event)"
								formControlName="title" />
						</div>
						<div *ngIf="fc['title'].errors?.['required']">
							<div
								class="alert alert-danger"
								*ngIf="fc['title'].touched && fc['title'].invalid">
								Title is required!
							</div>
						</div>
						<div *ngIf="fc['title'].errors?.['minlength']">
							<div
								class="alert alert-danger"
								*ngIf="fc['title'].touched && fc['title'].invalid">
								Title length should be 10 characters!
							</div>
						</div>
						<div class="form-group">
							<label>Permalink</label>
							<input
								type="text"
								name="permalink"
								class="form-control"
								[(ngModel)]="permalink"
								formControlName="permalink" />
						</div>
						<div class="form-group">
							<label>Excerpt</label>
							<textarea
								cols="30"
								rows="10"
								class="form-control"
								formControlName="excerpt"></textarea>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-5">
				<div class="form-group">
					<label for="">Please select a post category</label>
					<select
						class="form-control"
						formControlName="category">
						<option
							value=""
							disabled
							selected>
							Select Category
						</option>
						<option
							value=""
							*ngFor="let category of categoriesList">
							{{ category.data.category }}
						</option>
					</select>
				</div>
				<div class="form-group">
					<label for="">Post Image</label>
					<img
						[src]="imgSrc"
						alt=""
						class="form-control img-fluid img-preview" />
					<input
						type="file"
						class="form-control"
						accept="Image/*"
						(change)="showPreview($event)"
						formControlName="postImg" />
				</div>
			</div>
		</div>
		<div class="row mt-3 mb-5">
			<div class="col-md-12">
				<div class="card shadow-effect">
					<div class="card-body">
						<div class="form-group">
							<label for=""> Content </label>
							<angular-editor
								class="form-control"
								placeholder="Add your content here"
								formControlName="content"></angular-editor>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12 text-center">
				<button class="btn btn-sub bg-theme mt-5">Save Post</button>
				<button
					class="btn btn-warning mt-5 ms-3"
					routerLink="/posts">
					Back To Posts
				</button>
			</div>
		</div>
	</form>
</div>
